<div id="movieContainer" class="flex flex-col p-4 movieContainer">
  @if(movie()) {
    <p-card header="Edit Movie">
      <label>Image</label>
      <img
        [src]="movie().backdrop_path"
        width="300"
        style="cursor:pointer; display:block; margin-bottom:1rem"
        (click)="fileInput.click()"
      />

      <input
        #fileInput
        hidden
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
      />

      <label>Title</label>
      <input
        pInputText
        [ngModel]="movie().original_title"
        (ngModelChange)="update('original_title', $event)"
      />

      <label>Language</label>
      <input
        pInputText
        [ngModel]="movie().original_language"
        (ngModelChange)="update('original_language', $event)"
      />

      <label>Overview</label>
      <textarea
        pInputTextarea
        rows="4"
        [ngModel]="movie().overview"
        (ngModelChange)="update('overview', $event)"
      ></textarea>

      <label>Popularity</label>
      <p-input-number
        [ngModel]="movie().popularity"
        (ngModelChange)="update('popularity', $event)"
      ></p-input-number>

      <label>Vote Average</label>
      <p-input-number
        [ngModel]="movie().vote_average"
        (ngModelChange)="update('vote_average', $event)"
        [min]="0"
        [max]="10"
        [step]="0.1"
      ></p-input-number>

      <label>Vote Count</label>
      <p-input-number
        [ngModel]="movie().vote_count"
        (ngModelChange)="update('vote_count', $event)"
      ></p-input-number>

      <label>Release Date</label>
      <p-calendar
        inputId="buttondisplay"
        [showIcon]="true"
        [showOnFocus]="false"
        [ngModel]="movie().release_date"
        (ngModelChange)="update('release_date', $event)"
        dateFormat="D, mm/dd/yy"
        [placeholder]="movie().release_date"
      ></p-calendar>

      <label>Casts</label>
      <p-dataview #dv [value]="movie().casts">
      <ng-template #list let-items>
          <div class="grid grid-cols-12 gap-4 grid-nogutter">
              <div class="col-span-12" *ngFor="let item of items; let first = first" class="col-span-12">
                  <div
                      class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                      [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                  >
                      <div class="md:w-40 relative">
                          <img
                              class="block xl:block mx-auto rounded-border w-full"
                              [src]="item.profile_path"
                              [alt]="item.name"
                              loading="lazy"
                              (error)="onImgError($event)"
                          />
                      </div>
                      <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                          <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                              <div>
                                  <span class="font-medium text-secondary text-sm">{{ item.original_name }}</span>
                                  <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>
                              </div>
                              <div class="bg-surface-100 dark:bg-surface-700 p-1" style="border-radius: 30px">
                                  <div
                                      class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"
                                      style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                  >
                                      <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">{{
                                          item.popularity
                                      }}</span>
                                      <i class="pi pi-heart-fill text-red-500"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="flex flex-col md:items-end gap-8">
                            Character:
                              <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                                  item.character
                              }}</span>
                              <div class="flex flex-row-reverse md:flex-row gap-2">
                                  <p-button icon="pi pi-trash" [outlined]="true" (onClick)="removeCharacter(item)"/>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
    </p-dataview>

  </p-card>
  }
</div>


